.h1{
    background-image: url("gr.png");
    background-size: cover;
    height: 50vh;
    width: 50vw;
    margin-left: 30%;
    padding-top: 20%;

}
.h2{
    border-color: lime;
   
    height: 60%;
    width:50%;
    border-style:solid;
    border-width:4px;
   margin-left: 25%;
   
}
.p1{
    color: whitesmoke;
   font-family: 'Times New Roman', Times, serif;
    font-size: 33px;
    text-align: center;
}